.vscode/**
.vscode-test/**
out/**
src/**
node_modules/
images/screens/
build/
coverage/
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.tmp/
vitest.config.ts
webpack.config.ts
